# Tests for the Project

## DateTime: 

### Errors/Massive Issues:
- Currently impossible to do set and get operations on Datetime object itself
- First string-datetimes and then datetime objects in marsik code for future

### Moderate Issues/Stinkies:
- string dayName(int day); -> there should be an additional method getting day of week, for this method to work

## Solutions and Fixes:
- Implement string datetimes first
- Later: real datetime objects supported in marsik code


## Caster:

- Works fine, no issues found so far

## FileHandler:

- Works fine, no issues found so far



